extend main

block content
    .container
        .row.text-center
            h1 Profile
        .row
            .col-lg-6
                .col-lg-6.pull-right
                    img.profile-picture(src="http://thesocialmediamonthly.com/wp-content/uploads/2015/08/photo.png")
            .col-lg-6
                .col-lg-8
                    h2 Username:&nbsp;
                        strong #{user.username}
                .col-lg-8
                    h2 Rating:&nbsp;
                        strong #{user.rating}
                            | / 5
                .col-lg-8
                    h4 First Name:&nbsp;
                        if (user.firstName)
                            strong #{user.firstName}
                        else
                            strong Unknown
                .col-lg-8
                    h4 Last Name:&nbsp;
                        if (user.lastName)
                            strong #{user.lastName}
                        else
                            strong Unknown
                .col-lg-8
                    h4 E-mail:&nbsp;
                        if (user.email)
                            strong #{user.email}
                        else
                            strong Unknown
                .col-lg-8
                    h4 Area:&nbsp;
                        if (user.area)
                            strong #{user.area}
                        else
                            strong Unknown
